<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<br>
<div>
  <div>
    <button (click) = "addCustomerFormOpen = !addCustomerFormOpen" mat-raised-button color = "primary">Add Customer</button>
  </div>
  <br>
  <div>
    <customerform *ngIf = "addCustomerFormOpen" 
            (update) = "add($event)" 
            (closeEdit) = "addCustomerFormOpen = !addCustomerFormOpen"
            [formType] = "'Add customer'">
    </customerform>
  </div>

  <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let customer of customers; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{customer.name}}
        </mat-panel-title>
        <mat-panel-description>
          income = {{customer.income}} ;  years = {{customer.years}}
          
          <span class="spacer"></span>
          <button (click)="predict(customer.years, customer.income)" mat-raised-button color="primary">Predict</button>
          <button (click)="addPrediction(userId, customer.id, prediction)" mat-raised-button color="primary">Save</button>
          <button mat-raised-button color = "warn" (click) = "deleteCustomer(customer.id)">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      
      
      <button (click) = "editstate[i] = !editstate[i]" mat-raised-button color = "primary">Edit</button>
      
      <customerform 
      [formType] = "'Update Customer'"
      [hidden] = "!editstate[i]" 
      [name] = "customer.name" 
      [income] = customer.income 
      [years] = customer.years
      [id] = customer.id
      (update) = "updateCustomer($event); editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]">
      </customerform>

    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf = "prediction=='Will return'" style="color: green;">Customer's prediction: {{prediction}}</p>
  <p *ngIf = "prediction=='Will not return'" style="color: red;">Customer's prediction: {{prediction}}</p>
  <p>{{saved}}</p>
  <br>
  <div>
  <button (click) = "prevPage()" mat-raised-button color = "primary">Prev page</button>
  <button (click) = "nextPage()" mat-raised-button color = "primary">Next page</button>  
  </div>
  

</div>

